In [2]:
%matplotlib inline

In [3]:
import os
import glob
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
DATA_DIRS_LIST = glob.glob("../data/*")

DATA_DIRS_LIST

['../data/german_equity', '../data/dax-euro', '../data/simulated']

In [12]:
glob.glob(os.path.join(DATA_DIRS_LIST[0], "*"))

['../data/german_equity/xFGBS',
 '../data/german_equity/xFGBM',
 '../data/german_equity/xFGBL',
 '../data/german_equity/README']

In [11]:
glob.glob(os.path.join(DATA_DIRS_LIST[1], "*"))

['../data/dax-euro/xFSXE', '../data/dax-euro/README', '../data/dax-euro/xFDAX']

In [13]:
DAX_DATA_PATH = "../data/dax-euro/xFDAX"
DAX_DATA_LIST = glob.glob(os.path.join(DAX_DATA_PATH, "*"))

In [15]:
df = pd.read_csv(DAX_DATA_LIST[0])

In [16]:
df

,Date,Time,Volume,OrderType,Side,AskPriceAfter,AskQtyAfter,AskSplitAfter,BidPriceAfter,BidQtyAfter,BidSplitAfter
0,20130821,28805.437660,1,0,1,8301.0,4,2,8299.5,1,1
1,20130821,28805.489365,1,0,1,8301.0,4,2,8298.5,11,2
2,20130821,28805.490124,1,-1,1,8301.0,4,2,8298.5,10,1
3,20130821,28805.528408,1,1,1,8301.0,4,2,8298.5,11,2
4,20130821,28805.536569,1,1,-1,8301.0,5,3,8298.5,11,2
5,20130821,28805.574241,1,1,1,8301.0,5,3,8298.5,12,3
6,20130821,28805.671232,1,1,1,8301.0,5,3,8298.5,13,4
7,20130821,28805.671718,1,1,1,8301.0,5,3,8298.5,14,5
8,20130821,28806.209501,1,1,-1,8299.0,1,1,8298.5,14,5
9,20130821,28806.266902,5,0,-1,8301.0,2,2,8298.5,14,5
10,20130821,28806.282435,1,1,-1,8299.0,1,1,8298.5,14,5
11,20130821,28806.282710,1,0,-1,8301.0,1,1,8299.0,2,1
12,20130821,28806.623618,2,1,1,8301.0,1,1,8299.0,2,1
13,20130821,28806.754971,4,1,1,8301.0,1,1,8299.0,6,2
14,20130821,28806.794944,1,0,-1,8301.0,1,1,8299.0,6,2
15,20130821,28806.794944,1,1,-1,8299.5,1,1,8299.0,6,2
16,20130821,28806.795348,1,0,-1,8301.5,1,1,8299.0,6,2
17,20130821,28806.886696,1,0,1,8301.5,1,1,8299.0,5,2
18,20130821,28806.916624,1,0,1,8301.5,1,1,8299.0,4,1
19,20130821,28807.167566,1,0,-1,8303.5,4,3,8299.0,4,1
20,20130821,28807.168325,1,1,1,8303.5,4,3,8299.5,1,1
21,20130821,28807.168347,1,1,-1,8303.0,1,1,8299.5,1,1
22,20130821,28807.168647,2,1,1,8303.0,1,1,8301.0,2,1
23,20130821,28807.168668,2,1,-1,8303.0,3,2,8301.0,2,1
24,20130821,28807.169901,1,-1,-1,8303.0,2,1,8301.0,2,1
25,20130821,28807.180732,1,0,1,8303.0,2,1,8301.0,1,1
26,20130821,28807.188962,1,0,1,8303.0,2,1,8299.0,5,2
27,20130821,28807.189860,1,1,1,8303.0,2,1,8300.5,1,1
28,20130821,28807.189878,1,1,-1,8302.5,1,1,8300.5,1,1
29,20130821,28807.191060,1,-1,1,8302.5,1,1,8299.5,2,2
...,...,...,...,...,...,...,...,...,...,...,...
471552,20130821,79188.326801,1,-1,-1,8292.5,2,2,8292.0,1,1
471553,20130821,79188.434035,2,1,1,8292.5,2,2,8292.0,3,2
471554,20130821,79188.745726,1,-1,-1,8292.5,1,1,8292.0,3,2
471555,20130821,79188.861340,1,0,-1,8293.0,6,5,8292.0,2,1
471556,20130821,79188.861340,1,-1,1,8293.0,6,5,8292.0,2,1
471557,20130821,79189.204936,1,0,1,8293.0,6,5,8292.0,1,1
471558,20130821,79189.311826,1,-1,-1,8293.0,5,4,8292.0,1,1
471559,20130821,79189.484188,2,-1,-1,8293.0,3,3,8292.0,1,1
471560,20130821,79190.114632,1,-1,-1,8293.0,2,2,8292.0,1,1
471561,20130821,79190.154301,1,1,-1,8292.5,1,1,8292.0,1,1
471562,20130821,79191.965958,1,0,-1,8293.0,2,2,8292.0,1,1
471563,20130821,79192.087464,1,0,1,8293.0,2,2,8291.5,2,2
471564,20130821,79192.297822,1,1,-1,8292.0,1,1,8291.5,2,2
471565,20130821,79195.784881,1,0,1,8292.0,1,1,8291.5,1,1
471566,20130821,79195.959704,1,1,1,8292.5,2,2,8292.0,1,1
471567,20130821,79195.959704,1,0,-1,8292.5,2,2,8292.0,1,1
471568,20130821,79196.021916,1,0,1,8292.0,1,1,8291.5,2,2
471569,20130821,79196.021916,1,1,-1,8292.0,1,1,8291.5,2,2
471570,20130821,79196.032616,1,-1,-1,8292.5,2,2,8291.5,1,1
471571,20130821,79196.032616,1,0,1,8292.5,2,2,8291.5,1,1
471572,20130821,79196.033851,1,-1,1,8292.5,2,2,8290.5,2,2
471573,20130821,79196.841336,8,1,-1,8291.5,8,1,8290.5,2,2
471574,20130821,79196.875570,1,0,-1,8291.5,7,1,8290.5,2,2
471575,20130821,79196.924180,1,1,-1,8291.5,8,2,8290.5,2,2
471576,20130821,79197.216665,1,1,1,8291.5,8,2,8291.0,1,1
471577,20130821,79198.046942,1,0,1,8291.5,8,2,8290.5,2,2
471578,20130821,79198.632608,1,-1,-1,8291.5,7,1,8290.5,2,2
471579,20130821,79198.922105,1,1,1,8291.5,7,1,8291.0,1,1
471580,20130821,79199.728099,1,-1,1,8291.5,7,1,8290.5,3,3
471581,20130821,79199.906207,5,0,-1,8291.5,2,1,8290.5,3,3