In [1]:
%matplotlib inline

In [2]:
import os
import sys
import glob
import pandas as pd
import matplotlib.pyplot as plt
import torch
import numpy as np

In [3]:
# Add parent dir to interpreter path
nb_dir = os.path.split(os.getcwd())[0]
if nb_dir not in sys.path:
    sys.path.append(nb_dir)

In [4]:
DATA_DIRS_LIST = glob.glob("../data/*")

DATA_DIRS_LIST

['../data/german_equity', '../data/dax-euro', '../data/simulated']

In [5]:
glob.glob(os.path.join(DATA_DIRS_LIST[0], "*"))

['../data/german_equity/xFGBS',
 '../data/german_equity/xFGBM',
 '../data/german_equity/xFGBL',
 '../data/german_equity/README']

In [6]:
glob.glob(os.path.join(DATA_DIRS_LIST[1], "*"))

['../data/dax-euro/xFSXE', '../data/dax-euro/README', '../data/dax-euro/xFDAX']

In [7]:
DAX_DATA_PATH = "../data/dax-euro/xFDAX"
DAX_DATA_LIST = glob.glob(os.path.join(DAX_DATA_PATH, "*"))

In [8]:
df = pd.read_csv(DAX_DATA_LIST[30])

In [9]:
df

,Date,Time,Volume,OrderType,Side,AskPriceAfter,AskQtyAfter,AskSplitAfter,BidPriceAfter,BidQtyAfter,BidSplitAfter
0,20140516,28805.966663,2,0,-1,9679.0,17,5,9678.5,8,1
1,20140516,28805.966663,8,1,1,9679.0,17,5,9678.5,8,1
2,20140516,28805.967000,5,1,1,9679.0,17,5,9678.5,13,2
3,20140516,28805.976119,8,0,-1,9679.0,9,3,9678.5,5,1
4,20140516,28805.976119,8,-1,1,9679.0,9,3,9678.5,5,1
5,20140516,28805.976489,5,0,-1,9679.0,4,1,9677.5,1,1
6,20140516,28805.976489,5,-1,1,9679.0,4,1,9677.5,1,1
7,20140516,28806.069280,1,1,1,9679.0,4,1,9678.0,1,1
8,20140516,28806.069280,1,0,-1,9679.0,3,1,9678.0,1,1
9,20140516,28806.307145,1,1,-1,9679.0,4,2,9678.0,1,1
10,20140516,28806.822278,1,-1,1,9679.0,5,3,9677.5,1,1
11,20140516,28806.822278,1,1,-1,9679.0,5,3,9677.5,1,1
12,20140516,28807.019245,1,1,-1,9679.0,6,4,9677.5,1,1
13,20140516,28807.309018,1,0,-1,9679.0,5,4,9677.5,1,1
14,20140516,28807.777989,1,0,-1,9679.0,4,4,9677.5,1,1
15,20140516,28808.258079,1,-1,-1,9679.0,3,3,9677.5,1,1
16,20140516,28808.987626,1,0,-1,9679.0,2,2,9677.5,1,1
17,20140516,28809.137569,1,1,1,9679.0,2,2,9678.0,1,1
18,20140516,28809.137569,2,0,1,9678.5,1,1,9676.5,1,1
19,20140516,28809.137947,1,1,-1,9678.5,1,1,9676.5,1,1
20,20140516,28809.244492,1,1,1,9678.5,1,1,9677.0,1,1
21,20140516,28809.244492,1,1,1,9680.0,9,3,9679.0,1,1
22,20140516,28809.244492,3,0,-1,9680.0,9,3,9679.0,1,1
23,20140516,28809.244857,1,1,-1,9679.5,1,1,9679.0,1,1
24,20140516,28809.396429,4,1,1,9679.5,1,1,9679.0,5,2
25,20140516,28809.396678,1,-1,-1,9680.0,9,3,9679.0,5,2
26,20140516,28809.530109,2,0,1,9680.0,9,3,9679.0,3,1
27,20140516,28809.532332,1,0,1,9680.0,9,3,9679.0,2,1
28,20140516,28809.750523,1,1,-1,9680.0,10,4,9679.0,2,1
29,20140516,28809.772037,1,1,-1,9679.5,1,1,9679.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
581075,20140516,79189.106551,2,-1,1,9647.0,11,5,9645.5,4,4
581076,20140516,79189.126484,2,1,1,9647.0,11,5,9645.5,6,4
581077,20140516,79189.256138,3,-1,1,9647.0,11,5,9645.5,3,3
581078,20140516,79189.295104,1,1,1,9647.0,11,5,9646.0,1,1
581079,20140516,79189.443082,3,1,1,9647.0,11,5,9646.0,4,2
581080,20140516,79189.760109,2,-1,1,9647.0,11,5,9646.0,2,2
581081,20140516,79189.786756,2,1,1,9647.0,11,5,9646.0,4,2
581082,20140516,79189.814857,4,0,1,9647.0,11,5,9645.5,8,4
581083,20140516,79190.717020,1,1,1,9647.0,11,5,9646.0,1,1
581084,20140516,79190.746409,1,0,1,9647.0,11,5,9645.5,8,4
581085,20140516,79191.332455,1,1,1,9647.0,11,5,9646.0,1,1
581086,20140516,79192.021620,1,1,1,9647.0,11,5,9646.0,2,2
581087,20140516,79192.215645,1,1,1,9647.0,11,5,9646.0,3,3
581088,20140516,79192.384866,1,1,1,9647.0,11,5,9646.0,4,4
581089,20140516,79192.559532,1,1,-1,9646.5,1,1,9646.0,4,4
581090,20140516,79193.201483,1,0,-1,9647.0,11,5,9646.0,4,4
581091,20140516,79193.664136,1,1,1,9647.0,11,5,9646.5,1,1
581092,20140516,79194.069845,1,1,-1,9647.0,12,6,9646.5,1,1
581093,20140516,79194.623630,1,-1,-1,9647.0,11,5,9646.5,1,1
581094,20140516,79195.103654,15,1,-1,9647.0,26,6,9646.5,1,1
581095,20140516,79195.165186,1,-1,-1,9647.0,25,6,9646.5,1,1
581096,20140516,79195.207119,3,0,-1,9647.0,22,4,9646.5,1,1
581097,20140516,79195.297481,5,0,-1,9647.0,17,3,9646.5,1,1
581098,20140516,79195.595512,1,0,-1,9647.0,16,2,9646.5,1,1
581099,20140516,79195.719840,1,0,-1,9647.0,15,1,9646.5,1,1
581100,20140516,79196.639259,1,1,1,9647.0,15,1,9646.5,2,2
581101,20140516,79197.669202,3,0,1,9647.0,15,1,9646.0,3,3
581102,20140516,79199.000410,2,1,-1,9646.5,2,1,9646.0,3,3
581103,20140516,79199.193867,1,0,1,9646.5,2,1,9646.0,2,2
581104,20140516,79199.505160,1,1,-1,9646.5,3,2,9646.0,2,2

In [10]:
# Remove cancel orders from the dataset
df = df[df.OrderType != 0]

In [11]:
evt_times = df.Time.values

evt_types = (df.OrderType.values + 1)//2

In [12]:
day_stamp = df.Date.unique()[0]
print(day_stamp)

20140516

In [20]:
split_times_list = np.array_split(evt_times, 1000)
split_types_list = np.array_split(evt_types, 1000)
seq_lengths = [len(e) for e in split_times_list]

seq_lengths = torch.LongTensor(seq_lengths) - 1

split_times_list = [torch.from_numpy(e) for e in split_times_list]
split_types_list = [torch.from_numpy(e) for e in split_types_list]

In [17]:
from torch import nn

In [27]:
seq_times = nn.utils.rnn.pad_sequence(split_times_list, batch_first=True).to(torch.float32)
seq_times

tensor([[28805.9668, 28805.9668, 28805.9766,  ..., 30077.3672, 30077.8438,
         30077.8691],
        [30077.8691, 30077.8691, 30077.8809,  ..., 31088.0742, 31088.6445,
         31089.1465],
        [31089.9023, 31089.9023, 31090.3535,  ..., 31789.1719, 31789.1719,
         31789.1719],
        ...,
        [76558.8906, 76559.0078, 76562.6484,  ..., 77518.2344, 77518.2344,
             0.0000],
        [77518.8438, 77522.3203, 77522.3203,  ..., 78190.4688, 78190.4688,
             0.0000],
        [78190.4688, 78191.7500, 78192.7344,  ..., 79199.0000, 79199.5078,
             0.0000]])

In [28]:
seq_types = nn.utils.rnn.pad_sequence(split_types_list, batch_first=True, padding_value=2)

seq_types

tensor([[1, 1, 0,  ..., 1, 0, 1],
        [0, 1, 1,  ..., 0, 1, 1],
        [1, 1, 1,  ..., 1, 1, 0],
        ...,
        [0, 1, 1,  ..., 0, 0, 2],
        [1, 1, 1,  ..., 1, 0, 2],
        [0, 1, 0,  ..., 1, 1, 2]])

In [29]:
from models import HawkesDecayRNN
from train_functions import train_decayrnn

In [34]:
process_dim = 2
hidden_size = 64

In [35]:
EPOCHS = 3
BATCH_SIZE = 32

In [36]:
model = HawkesDecayRNN(process_dim, hidden_size)

In [37]:
from torch import optim

In [38]:
optimizer = optim.Adam(model.parameters(), lr=0.005)

In [39]:
loss = train_decayrnn(model, optimizer, seq_times, seq_types, seq_lengths, 0.,
                      BATCH_SIZE, EPOCHS, use_jupyter=True)

Batch size 32
Number of epochs 3
Train size: 250

HBox(children=(IntProgress(value=0, description='Epoch 1', max=8, style=ProgressStyle(description_width='initi…

KeyboardInterrupt: